:root{
    --header-color: #B4B4B2;
    --dgreen-color:  #27403E;
    --white-color: #FFFFFF;
    --green-color: #87DF2C;
    --lgreen-color: #ffffffe1;
    --black-color: #0c0c0c;
    --gray-color: #cfcfcfbc;
    --yellow-color: #f6ff00f0;
    
    --logo-color:#d9ae70;
    --logobg-color:#132725;
}